<div class="main">
       <header>
              <img src="./img/header-img/logo.svg" alt="лого">
              <div class="nav_menu">
                     <ul>
                            <li>How It Works</li>
                            <li>Vegetables</li>
                            <li>Reviews</li>

                     </ul>
                     <button>SHOP NOW</button>
              </div>
       </header>
       <div class="main_text">
              <h1>
                organic vegetables to your diet today!
              </h1>
              <p>
              Our expertly curated vegetable baskets are made with the freshest,
               highest quality vegetables available. Fresh Harvest Box has got you covered. 
               Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
              </p>
       </div>
      <img src="./img/header-img/vegetables.svg" alt="фото овощи">
    </div>
       
